body {
  word-wrap: break-word;
  font-family: 'Londrina Outline', sans-serif;
  font-weight: bold;
  font-size: 40px;
  background-image: url("../img/background.png");
  background-attachment: fixed;
}

.jumbotron {
  color: #900C3F;
  background-color: white;
}

.jumbotron h1 {
  font-size: 100px;
  font-weight: bold;
}

#number {
  font-family: 'Londrina Outline', sans-serif;
  font-size: 28px;
}

.btn {
  font-family: 'Londrina Solid', sans-serif;
  font-size: 26px;
}

.submitted {
  display: none;
  font-size: 60px;
  position: relative;
  overflow: hidden;
}

ul {
  padding: 70px 0;
  margin: auto;
  width: 380px;
  list-style: none;
  line-height: 100%;
  background-color: rgb(255, 255, 255);
}

.number {
  text-align: center;
}

.pingpong {
  color: #FFF417;
  text-align: center;
  letter-spacing: 14px;
}

.ping {
  color: #BF3BB1;
  text-align: left;
  letter-spacing: 18px;
}

.pong {
  color: #2F25C4;
  text-align: right;
  letter-spacing: 18px;
}

#go-back {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.badInput {
  display: none;
}
